uncertainties/version.py
*.pyc
build
doc/_build
dist
MANIFEST
# Created by setuptools:
uncertainties.egg-info/
# For PyCharm (contains project files):
.idea/
# py.test cache files (normally we are using nose though)
.cache
# vim temporary files
.*.swp
# For Visual Studio Code
.vscode/

coverage.xml
