include README.rst
include INSTALL.txt
include LICENSE.txt
include setup.py
graft uncertainties
recursive-include doc Makefile conf.py *.rst make.bat
graft doc/_templates
graft doc/_static
prune doc/_build
global-exclude *~