include INSTALL.txt

# Since 2019-02, for setuptools, the following can be replaced by the licence_file argument of setup():
include LICENSE.txt

# Docs:
recursive-include doc Makefile conf.py *.rst make.bat
graft doc/_templates
graft doc/_static
prune doc/_build

# No backup files:
global-exclude *~
